{%extends 'all_news/base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if articles%}
    <div class="well">
      <h2>Found: <span style="color:blue">{{ articles|length }}</span> articles matching your search {{message}}</h2>
    </div>
    {% else %}
      <h2>No articles Found with <span style="color:blue">{{message}}</span> keyword. Try other keyword</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if articles %}
    {% for article in articles %}
      <div class="col-sm-6 col-md-3">
          <h1>{{article.title}}</h1>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
